@import "tailwindcss";

@theme {
  --color-main: #aacb22;
  --color-sec: #14462e;
  --bg-hero: #f3f5f4;
}

#root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
